
header, nav, main, footer {
    font-family: 'Varela Round', sans-serif;
}

html {
	scroll-behavior: smooth;
}


header {
	grid-area: header;
	background: #025302;
  font-size: 3em;
	color: white;
  position: sticky;
	padding: 4rem;
	text-align: center;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-decoration-line: none;
}

li {
  float: left;
  margin-right: 10px;
}

a {
  display: block;
  padding: 8px;
  margin-bottom: 10px;
  color: white;
  background-color: #025302;
}

footer {
	grid-area: footer;
	background: #025302;
	color: white;
	padding: 4rem;
	text-align: center;
}